body{
    font-size: 16px;
    margin: 0px auto;
    max-width: 1078px;
    min-width: 1078px;
}
.texto2{
    margin-left: 400px;
}
.texto3{
    margin-left: 200px;
}
h1{
    font-size: 120px;
   margin-left: 120px;
}
#sec01art02 li{
    list-style: none;
}
#sec01art03 li{
    list-style: none;
}
#sec01art03{
    position: inherit;
    margin-left: 120px;
    margin-top: -90px;
}
#sec01art04 p{
    margin-left: 350px;
    margin-top: -100px;
    vertical-align: top;
} 
#sec01art05{
    margin-left: 850px;
    margin-top: -120px;
    vertical-align: top;
}
#sec02{
    margin-left: 280px;
    font-size: 80px;
}
h2{
    font-size: 100px;
    color: gray;
    display: inline;
    align-items: center;
    justify-content: center;
}
h3{
    display: inline;
    align-items: center;
    justify-content: center;
}
#sec03art01 img{
    position: absolute;
    width: 30%;
}
#sec03art02 img{
width: 30%;
 position: absolute;
 margin-top: -20px;
 margin-left: 620px;
}
.numero{

}
.numero2{
    
}
